.card {
  max-width: 1920px;
  padding: 53px 5.2% 256px 5.2%;
  margin: 0 auto;
  box-sizing: border-box;
}

.card h2 {
  margin: 0;
  font-family: $montserrat;
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.card__desription-wrapper {
  display: block;
  padding: 25px 24px 30px 24px;
  background-color: #ffffff;
}

.card__wrapper {
  max-width: 1550px;
  margin: 0 auto;
}

.card__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 53px;
  list-style: none;
}

.card__wrapper li {
  width: 320px;
  margin-right: 1.74%;
}

.card__wrapper li:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #c2ab81;
}

.card__wrapper li:nth-child(4n + 4) {
  margin-right: 0;
}

.card__wrapper li:nth-child(n + 5) {
  margin-top: 30px;
}

.card__wrapper img {
  display: block;
}

.card__wrapper h3 {
  font-family: $mulish;
  margin: 0;
  min-height: 26px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #171717;
}

.card__wrapper p {
  margin: 20px 0;
  font-family: $montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  width: 260px;
  color: #171717;
}

.card__wrapper span {
  font-family: $montserrat;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #171717;
}

.card__author-wrapper p {
  margin: 0;
  margin-top: 20px;
  font-family: $montserrat;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}

.card__author-wrapper span {
  font-weight: 700;
}

.card__wrapper a {
  display: block;
  text-decoration: none;
}

.card__continue-button  {
  display: block;
  margin-top: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: $mulish;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background-color: #171717;
}

.card__continue-button:hover {
  background-color: #c2ab81;
}

.card__button {
  margin: 0 auto;
  margin-top: 60px;
}

@media (min-width: 1920px) {
  .card {
    padding: 53px 100px 256px 100px;
  }

  .card__wrapper {
    max-width: 1920px;
  }

  .card__wrapper li {
    margin-right: 30px;
  }

  .card__wrapper li:nth-child(4n + 4) {
    margin-right: 30px;
  }

  .card__wrapper li:nth-child(5n + 5) {
    margin-right: 0;
  }

  .card__wrapper li:nth-child(n + 5) {
    margin-top: 0;
  }

  .card__wrapper li:nth-child(n + 6) {
    margin-top: 30px;
  }
}

@media (max-width: 1507px) {
  .card__wrapper ul {
    justify-content: space-between;
  }

  .card__wrapper li:nth-child(3n + 3) {
    margin-right: 0;
  }

  .card__wrapper li:nth-child(4n + 4) {
    margin-right: 30px;
  }

  .card__wrapper li:nth-child(5n + 5) {
    margin-right: 30px;
  }

  .card__wrapper li:nth-child(n + 4) {
    margin-top: 30px;
  }
}

@media (max-width: 1139px) {
  .card__wrapper {
    max-width: 1000px;
  }

  .card__wrapper li:nth-child(3n + 3) {
    margin-right: 30px;
  }

  .card__wrapper li:nth-child(2n + 2) {
    margin-right: 0;
  }

  .card__wrapper li:nth-child(n + 3) {
    margin-top: 30px;
  }
}
